{% extends 'Main/main.html' %}
{% load static %}

{% block content %}
    {{ userName }}
    <!--BODY CONTENT-->
    <main class="container-xl" style="color: #0d6efd">
      <div class="bg-dark p-5 rounded">
        <h1>Welcome </h1>
          <p class="lead">This is the Admin Dashboard</p>

          <div>
              <hr>
              <a class="list-group-item list-group-item-action active" href="{% url 'staff' %}" role="button">View Staff Members &raquo;</a>
              <hr>
              <a class="list-group-item list-group-item-action active" href="{% url 'animal' %}" role="button">View Animals &raquo;</a>
              <hr>
              <a class="list-group-item list-group-item-action active" href="{% url 'species' %}" role="button">View Species &raquo;</a>
              <hr>
          </div>
      </div>
    <hr>
    </main>

{% endblock %}

