{%  extends 'base.html' %}

{% load static %}

{% block content %}

<div class="banner-header">
    <div class="container">
        <h2>about</h2>
    </div>
</div>
	<!--about-->
	<div class="content">
			<div class="about-section">
				<div class="container">
						<div class="about-grids">
							<div class="col-md-4 about-grid">
								<h3>Who we are</h3>
								<img src="{% static 'web/images/p5.jpg' %}" class="img-responsive" alt="/">
								<div class="about1">
									<h4>Praesent justo dolor, lobortis</h4>
									<p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet.</p>
								</div>
								<div class="about2">
								<h4>Sed in lacus ut enim</h4>
								<p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl.</p>
								</div>
								</div>
							<div class="col-md-4 about-grid">
							<h3>history</h3>
								<div class="history">
									<h5>1997-2001</h5>
									<p>Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis.</p>
								</div>
								<div class="history1">
									<h5>2003-2005</h5>
									<p>Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis.</p>
								</div>
								<div class="history2">
									<h5>2007-2009</h5>
									<p>Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis.</p>
								</div>
								<div class="history3">
									<h5>2011-20014</h5>
									<p>Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis.</p>
								</div>
							</div>
							<div class="col-md-4 about-grid">
							<h3>Employment</h3>
								<div class="trend">
									<p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet.</p>
								</div>
								<div class="trend">
									<ul>
									<li><a href="#">New Listing Sign-Up nulla vel</a></li>
									<li><a href="#">Consectetur adipiscing nulla vel</a></li>
									<li><a href="#">Integer molestie lorem nulla vel</a></li>
									<li><a href="#">Facilisis in pretium nisl</a></li>
									<li><a href="#">New Listing Sign-Up nulla vel</a></li>
									<li><a href="#">Consectetur adipiscing</a></li>
									<li><a href="#">Integer molestie lorem nulla vel</a></li>
									<li><a href="#">Facilisis in pretium nisl</a></li>
									</ul>
								</div>
							</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		<!--about-->
				<div class="ourteam">
					<div class="container">
						<h3>our team</h3>
						<div class="team-grids">
						<div class="col-md-3 team-grid">
							<img src="{% static 'web/images/t1.jpg' %}" class="img-responsive" alt="" />
							<h4>Bradley Grosh</h4>
							<p>Were dolor in hendrerit in vulputate velit esse molestie con sequat</p>
						</div>
						<div class="col-md-3 team-grid">
							<img src="{% static 'web/images/t2.jpg' %}" class="img-responsive" alt="" />
							<h4>david austin</h4>
							<p>Were dolor in hendrerit in vulputate velit esse molestie con sequat</p>
						</div>
						<div class="col-md-3 team-grid">
							<img src="{% static 'web/images/t3.jpg' %}" class="img-responsive" alt="" />
							<h4>Patrick Pool</h4>
							<p>Were dolor in hendrerit in vulputate velit esse molestie con sequat</p>
						</div>
						<div class="col-md-3 team-grid">
							<img src="{% static 'web/images/t4.jpg' %}" class="img-responsive" alt="" />
							<h4>Dayle Peters</h4>
							<p>Were dolor in hendrerit in vulputate velit esse molestie con sequat</p>
						</div>
					<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!--advantage-->
			<div class="advantages">
					<div class="container">
						<h3>Advantages</h3>
						<div class="advantages-grids">
							<div class="col-md-4 advantage-grid">
								<div class="advantage">
									<div class="left-grid">
										<p>01</p>
									</div>
								<div class="right-grid">
									<h4>Decking concrete Kool</h4>
									<p>How wonderful it is that nobody need wait a single moment before starting to improve the world.</p>
								</div>
							<div class="clearfix"></div>
							</div>
							</div>	
								<div class="col-md-4 advantage-grid">
									<div class="advantage">
									<div class="left-grid">
										<p>02</p>
									</div>
								<div class="right-grid">
									<h4>Decking concrete Kool</h4>
									<p>How wonderful it is that nobody need wait a single moment before starting to improve the world.</p>
								</div>
							<div class="clearfix"></div>
							</div>
								</div>	
								<div class="col-md-4 advantage-grid">
									<div class="advantage">
									<div class="left-grid">
										<p>03</p>
									</div>
								<div class="right-grid">
									<h4>Decking concrete Kool</h4>
									<p>How wonderful it is that nobody need wait a single moment before starting to improve the world.</p>
								</div>
							<div class="clearfix"></div>
							</div>
								</div>
								<div class="clearfix"></div>	
							</div>
						</div>
					</div>
				<!--advantage-->
			<!--specials-->
				{% include 'special.html' %}
			</div>
{%  endblock %}