{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Zoo Plane Pages</title>
    <link href="{% static 'web/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'web/css/style.css"' %}" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Zoo Planet" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="{% static 'web/js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'web/js/bootstrap.js' %}"></script>

    <!--lightbox-->
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/jquery.lightbox.css' %}">
    <script src="{% static 'web/js/jquery.lightbox.js' %}"></script>
    <script>
    // Initiate Lightbox
      $(function() {
        $('.gallery a').lightbox();
      });
    </script>
    <!--lightbox-->
</head>
<body>
<!--header-->
    <div class="header">
        <div class="container">
            <div class="header-top">
                {% include 'navbar.html' %}
            </div>
        </div>
    </div>
{% block content %}


{%  endblock %}
<!--footer-->
    <div class="footer-section">
        <div class="container">
            <div class="footer-top">
                <p>&copy; 2015 Zoo Planet . All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
            </div>
        </div>
    </div>
</body>
</html>